#background {
  background-image: url("https://wallpaperscraft.com/image/black_background_pattern_light_texture_55291_3840x2400.jpg");
  background-size: cover;
}
#menu {
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 5%;
  right: 5%;
}
tr, td {
  padding-left: 50px;
}
#name {
  color: white;
  font-size: 80px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  width: 1000px;
  height: 100px;
  margin-top: 200px;
  margin-bottom: 20px;
  margin-left: 15%;
  letter-spacing: 5px;
  /*border: 5px white solid;*/
}
#joinUs {
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
  width: 100px;
  height: 30px;
  border: 3px white solid;
  float: left;
  margin-left: 42%;
}
#contact {
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
  width: 100px;
  height: 30px;
  border: 3px white solid;
  float: left;
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: white;
}
#intro {
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: justify;
  width: 700px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 25%;
}
